.banner {
  background: url("/static/img/main/banner/banner1.jpg") left center no-repeat #00b6d8;
  background-size: cover;
  margin-bottom: 8%;
  padding: 80px 0;
  display: flex;
  justify-content: flex-end;

  &__information {
    flex-basis: 630px;
    margin-right: 45px;
  }
}

.banner--left {
  background: url("/static/img/main/banner/banner2.jpg") left center no-repeat #d7dad4;
  background-size: cover;
  margin-bottom: 8%;
  display: flex;
  justify-content: flex-start;
  padding: 30px 0;

  .banner__information {
    margin-right: 0;
    margin-left: 50px;
  }
}

.banner__title {
  margin-bottom: 20px;
}

.banner__text {
  margin-bottom: 20px;
}

.section__banner {

  @include media-breakpoint-down(lg) {

    .banner {
      background-position: -150px 0;
    }

    .banner__information {
      margin-right: 0;
    }

  }
}

.section__banner {

  @include media-breakpoint-down(md) {

    .banner {
      background: #00b6d8;
    }

    .banner__information {
      flex-basis: 100%;
      padding: 0 10px;
    }

  }
}
