.banner {
  background-size: cover;



  &--offers {
    background: url("/static/img/main/banner/banner1.jpg") left center no-repeat #00b6d8;
    margin-bottom: 8%;
    padding: 80px 0;
    display: flex;
    justify-content: flex-end;


  }

  &--subscribe {
    background: url("/static/img/main/banner/banner2.jpg") left center no-repeat #d7dad4;
    margin-bottom: 8%;
    display: flex;
    justify-content: flex-start;
    padding: 30px 0;
  }

  .banner__header {


    &--offers {

    }

    &--subscribe {

    }


    .banner__title {

    }

    .banner__text {

    }

  }

}




