.btn {
  position: relative;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  text-transform: uppercase;

  &__label {
    width: 112px;
    font-size: 9px;
    line-height: 13px;
    border-radius: 40px;
    padding: 13px 0;
  }

  &__label-md {
    width: 175px;
    font-size: 9px;
    line-height: 13px;
    border-radius: 40px;
    padding: 13px 0;
  }

  &__label-xl {
    width: 250px;
    font-size: 9px;
    line-height: 13px;
    border-radius: 40px;
    padding: 10px 10px;
  }

  &--banner {
    background-color: $white;
  }

  &--subscribe {
    background-color: $black;
    color: $white;
  }



  &__label-new {
    width: 50px;
    font-size: 11px;
    padding: 8px;
    z-index: 2;
    background-color: $black;
    color: $white;


  }

  &__offers {
    color: $white;
    background-color: $black;
    border-radius: 40px;
  }

}





