.btn {
  position: relative;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  cursor: pointer;

  &__wrapper { //https://github.com/philipwalton/flexbugs#9-some-html-elements-cant-be-flex-containers
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__icon {
    margin: 0 0.5em 0 0;
  }

  &__label {
    display: inline-block;
    width: 114px;
    font-size: 9px;
    line-height: 13px;
    border-radius: 40px;
    padding: 13px 0;
    text-transform: uppercase;
  }

  &__label-md {
    display: inline-block;
    width: 175px;
    font-size: 9px;
    line-height: 13px;
    border-radius: 40px;
    padding: 13px 0;
    text-transform: uppercase;
  }

  &__label-xl {
    display: inline-block;
    width: 250px;
    font-size: 9px;
    line-height: 13px;
    border-radius: 40px;
    padding: 20px 0;
    text-transform: uppercase;
  }


  &--disabled, &[disabled] {
    color: $btnDisabledColor;
    background-color: $black;
  }
  &--disabled-wite {
    color: $brown;
    background-color: $white;
  }

  &--disabled-wite--border {
    color: $brown;
    background-color: $white;
    border: 2px solid #d3c7aa;
  }

}

.owl-nav {

  .owl-prev {
    background: url('/static/icons/icon-slider/sprite-arrow.png') 0 0 no-repeat;
    width: 49px;
    height: 49px;
    border: none;
    box-shadow: none;
    position: absolute;
    left: 5px;
    top: 50%;
    cursor: pointer;
    transform: translate(-50%);

    &:hover {
      background-position: 0 -49px;
    }
  }

  .owl-next {
    background: url('/static/icons/icon-slider/sprite-arrow.png') 0 0 no-repeat;
    width: 49px;
    height: 49px;
    border: none;
    box-shadow: none;
    position: absolute;
    left: 5px;
    top: 50%;
    cursor: pointer;
    transform: translate(-50%);
    background-position: -49px 0;
    left: auto;
    right: 5px;

    &:hover {
      background-position: -49px -49px;
    }
  }
}


.owl-dots {

  text-align: center;
  padding: 0 0 15px 0;

  .owl-dot {

    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: $white;
    box-sizing: border-box;
    border: none;
    box-shadow: none;
    padding: 0;
    margin: 0 5px;
    cursor: pointer;
  }

  .active {
    background-color: $black;
  }

}
