.btn {
  position: relative;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  cursor: pointer;

  &__wrapper { //https://github.com/philipwalton/flexbugs#9-some-html-elements-cant-be-flex-containers
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__icon {
    margin: 0 0.5em 0 0;
  }

  &__label {
    display: inline-block;
    width: 114px;
    font-size: 9px;
    line-height: 13px;
    border-radius: 40px;
    padding: 13px 0;
    text-transform: uppercase;


  }

  &--disabled, &[disabled] {
    color: $btnDisabledColor;
    background-color: $black;

  }
}
