.card-offer {
  position: relative;

  &--sm {
    height: 170px;
  }

  &--md {
    height: 240px;
  }

  &--lg {
    height: 265px;
  }

  &--xl {
    height: 340px;
  }

  &--xxl {
    max-height: 530px;
  }
}

.card-products {
  position: relative;


}
