.section__slider {
  background: linear-gradient(90deg, #ccccd0, #c4c5ca);
}

.slider {


  .slider__item {
    margin-top: 115px;


    .slider__type {
      margin-top: 50px;
    }

    .slider__icons {
      margin-top: 20px;

    }

    .slider__content {
      margin-top: 25px;
    }

    .slider__btn {
      margin-top: 30px;
    }

  }

}