{% set title = "About" %}
{% set app_class = "app--about" %}
{% extends "layouts/_default.njk" %}

{% block content %}

    <main class="main" role="main">
        <section class="section">
            <div class="container">
                About
            </div>
        </section>
    </main>

{% endblock %}