{% set title = "Fashion-shop" %}
{% set app_class = "app--home" %}
{% extends "layouts/_default.njk" %}

{% block content %}

    <main class="main" role="main">
        <section class="section section__slider">
            <div class="container">
                <div class="owl-carousel owl-theme">
                    <div class="slider container-fluid row">
                        <div class="slider__preview col-xl-6 col-lg-6 col-md-12 col-sm-12">
                            <img src="/static/img/main/slider/slide.png" alt="" class="slider__img">
                        </div>
                        <div class="slider__item col-xl-6 col-lg-6 col-md-12 col-sm-12">
                            <div class="slider__title">
                                <h1 class="title title-extrlg font-bold text-uppercase">
                                    Summer Collection
                                </h1>
                            </div>
                            <div class="slider__type">
                                <p class="text-md font-semi">
                                    01
                                    <span class="text-sm font-light ml-2">
                                    MEN´S WEAR
                                </span>
                                </p>
                            </div>
                            <div class="slider__icons icon ">
                                <a href="#" class="icon icon--slider">
                                    <img src="/static/icons/icon-slider/slider-icon.png" alt="" class="icons__img">
                                </a>
                                <a href="#" class="icon icon--slider">
                                    <img src="/static/icons/icon-slider/slider-icon2.png" alt="" class="icons__img">
                                </a>
                                <a href="#" class="icon icon--slider">
                                    <img src="/static/icons/icon-slider/slider-icon3.png" alt="" class="icons__img">
                                </a>
                            </div>
                            <div class="slider__content">
                                <p class="text font-semi color-grey--dark text-sm">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Vivamus sed fermentum nibh, vel aliquet massa. Etiam in
                                    magna id risus lacinia luctus eget eu est.
                                </p>
                            </div>
                            <div class="slider__btn">
                                <div class="btn btn__label btn--disabled">
                                    SHOP NOW
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slider container-fluid row">
                        <div class="slider__preview col-xl-6 col-lg-6 col-md-12 col-sm-12">
                            <img src="/static/img/main/slider/slide2.png" alt="" class="slider__img">
                        </div>
                        <div class="slider__item col-xl-6 col-lg-6 col-md-12 col-sm-12">
                            <div class="slider__title">
                                <h1 class="title title-extrlg font-bold text-uppercase">
                                    Summer Collection
                                </h1>
                            </div>
                            <div class="slider__type">
                                <p class="text-md font-semi">
                                    01
                                    <span class="text-sm font-light ml-2">
                                    MEN´S WEAR
                                </span>
                                </p>
                            </div>
                            <div class="slider__icons icon ">
                                <a href="#" class="icon icon--slider">
                                    <img src="/static/icons/icon-slider/slider-icon.png" alt="" class="icons__img">
                                </a>
                                <a href="#" class="icon icon--slider">
                                    <img src="/static/icons/icon-slider/slider-icon2.png" alt="" class="icons__img">
                                </a>
                                <a href="#" class="icon icon--slider">
                                    <img src="/static/icons/icon-slider/slider-icon3.png" alt="" class="icons__img">
                                </a>
                            </div>
                            <div class="slider__content">
                                <p class="text font-semi color-grey--dark text-sm">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Vivamus sed fermentum nibh, vel aliquet massa. Etiam in
                                    magna id risus lacinia luctus eget eu est.
                                </p>
                            </div>
                            <div class="slider__btn">
                                <div class="btn btn__label btn--disabled">
                                    SHOP NOW
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slider container-fluid row">
                        <div class="slider__preview col-xl-6 col-lg-6 col-md-12 col-sm-12">
                            <img src="/static/img/main/slider/slide3.png" alt="" class="slider__img">
                        </div>
                        <div class="slider__item col-xl-6 col-lg-6 col-md-12 col-sm-12">
                            <div class="slider__title">
                                <h1 class="title title-extrlg font-bold text-uppercase">
                                    Summer Collection
                                </h1>
                            </div>
                            <div class="slider__type">
                                <p class="text-md font-semi">
                                    01
                                    <span class="text-sm font-light ml-2">
                                    MEN´S WEAR
                                </span>
                                </p>
                            </div>
                            <div class="slider__icons icon ">
                                <a href="#" class="icon icon--slider">
                                    <img src="/static/icons/icon-slider/slider-icon.png" alt="" class="icons__img">
                                </a>
                                <a href="#" class="icon icon--slider">
                                    <img src="/static/icons/icon-slider/slider-icon2.png" alt="" class="icons__img">
                                </a>
                                <a href="#" class="icon icon--slider">
                                    <img src="/static/icons/icon-slider/slider-icon3.png" alt="" class="icons__img">
                                </a>
                            </div>
                            <div class="slider__content">
                                <p class="text font-semi color-grey--dark text-sm">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Vivamus sed fermentum nibh, vel aliquet massa. Etiam in
                                    magna id risus lacinia luctus eget eu est.
                                </p>
                            </div>
                            <div class="slider__btn">
                                <div class="btn btn__label btn--disabled">
                                    SHOP NOW
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <section class="section section__categories">
            <div class="container">
                <div class="categories">
                    <ul class="categories__list container-fluid">
                        <li class="categories__item">
                            <a href="#" class="categories__link">
                                <p class="text text-lg font-semi">
                                    All
                                </p>
                            </a>
                        </li>
                        <li class="categories__item">
                            <a href="#" class="categories__link">
                                <p class="text text-lg font-semi">
                                    spring-summer
                                </p>
                            </a>
                        </li>
                        <li class="categories__item">
                            <a href="#" class="categories__link">
                                <p class="text text-lg font-semi">
                                    sweatshirt
                                </p>
                            </a>
                        </li>
                        <li class="categories__item">
                            <a href="#" class="categories__link">
                                <p class="text text-lg font-semi">
                                    sneakers
                                </p>
                            </a>
                        </li>
                        <li class="categories__item">
                            <a href="#" class="categories__link">
                                <p class="text text-lg font-semi">
                                    gadgets
                                </p>
                            </a>
                        </li>
                        <li class="categories__item">
                            <a href="#" class="categories__link">
                                <p class="text text-lg font-semi">
                                    outdoor
                                </p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="section section__offers">
            <div class="container">
                <div class="offers">
                    <div class="offers__left">
                        <div class="left__preview">
                            <img src="/static/img/main/offer/offer1.jpg" alt="" class="left__img">
                        </div>
                        <div class="left__title">
                            <h3 class="title-lg font-bold color-brown">
                                BUY 2 GET<br>
                                UP 50% OFF
                            </h3>
                        </div>
                        <div class="left__preview--bottom">
                            <img src="/static/img/main/offer/offer2.jpg" alt="" class="left__img">
                        </div>
                    </div>
                    <div class="offers__center">
                        <div class="center__preview">
                            <img src="/static/img/main/offer/offer3.jpg" alt="" class="offers__img">
                        </div>
                        <div class="center__info">
                            <div class="center__text">
                                <h4 class="text-exsm font-medium color-brown">
                                    Winter Jacket
                                </h4>
                            </div>
                            <div class="center__title">
                                <h3 class="title-lg font-bold color-brown">
                                    VINTAGE LOOK<br>
                                    FOR WOMEN
                                </h3>
                            </div>
                            <div class="center__btn">
                                <div class="btn btn__label btn--disabled">
                                    <p class="text">
                                        SHOP NOW
                                    </p>
                                </div>
                            </div>
                        </div>
                        <span class="new__center">
                                   <p class="text-versm color-white">
                                        New
                                   </p>
                              </span>
                    </div>
                    <div class="offers__right">
                        <div class="right__preview">
                            <img src="/static/img/main/offer/offer4.jpg" alt="" class="offers__img">
                        </div>
                        <div class="right__info">
                            <div class="right__text">
                                <h4 class="text">
                                    Winter Jacket
                                </h4>
                            </div>
                            <div class="right__title">
                                <h3 class="title">
                                    FASHION<br>
                                    FOR MEN
                                </h3>
                            </div>
                            <div class="right__btn">
                                <div class="btn btn__label btn--disabled">
                                    <p class="text">
                                        SHOP NOW
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="right__preview--bottom">
                            <img src="/static/img/main/offer/offer5.jpg" alt="" class="offers__img">
                        </div>
                        <div class="right__title--bottom">
                            <h3 class="title-lg font-bold color-brown">
                                40% off on sunglasses
                            </h3>
                        </div>
                        <div class="new__right">
                          <span class="offers__new">
                               <p class="text-versm color-white">
                                    New
                               </p>
                          </span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section section__banner">
            <div class="container">
                <div class="banner">
                    <div class="banner__information text-center">
                        <div class="banner__title">
                            <h3 class="title-bg font-semi color-brown">
                                WE OFFER BRAND NEW STYLES
                            </h3>
                        </div>
                        <div class="banner__text">
                            <p class="text-sm">
                                SIGN UP NOW AND GET 50% OFF
                            </p>
                        </div>
                        <div class="banner__btn">
                            <div class="btn btn__label-xl btn--disabled-wite">
                                <p class="title-sm">
                                    SEE FULL COLLECTION
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section section__products">
            <div class="container">
                <div class="products">
                    <div class="products__title">
                        <h3 class="title-bg font-semi color-brown text-center">
                            Product Types
                        </h3>
                    </div>
                    <div class="products__text">
                        <p class="text-sm text-center">
                            up to 30% discount
                        </p>
                    </div>
                    <div class="products__block">
                        <div class="block__element">
                            <div class="block__item">
                                <img src="/static/img/main/product/product1.jpg" alt="">
                            </div>
                            <div class="products__btn">
                                <div class="btn btn__label btn--disabled">
                                    <p class="title-sm">
                                        SHOP MEN
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="block__element">
                            <div class="products__item">
                                <img src="/static/img/main/product/product2.jpg" alt="">
                            </div>
                            <div class="products__btn">
                                <div class="btn btn__label btn--disabled">
                                    <p class="title-sm">
                                        SHOP WOMEN
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="block__element">
                            <div class="products__item">
                                <img src="/static/img/main/product/product3.jpg" alt="">
                            </div>
                            <div class="products__btn">
                                <div class="btn btn__label btn--disabled">
                                    <p class="title-sm">
                                        SHOP KIDS
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </section>

    </main>

{% endblock %}
