{% set title = "Fashion-shop" %}
{% set app_class = "app--home" %}
{% extends "layouts/_default.njk" %}

{% block content %}

    <main class="main" role="main">
        <section class="section section__slider">
            <div class="container">
                <div class="slider">
                    <div class="slider__item">
                        <div class="slider__preview">
                            <img src="/static/img/main/slider/slide.png" alt="" class="slider__img">
                        </div>
                        <div class="slider__title">
                            <h1 class="title">
                                Summer Collection
                            </h1>
                        </div>
                        <div class="slider__type">
                            <p class="text">
                                01
                                <span class="text">
                                    MEN´S WEAR
                                </span>
                            </p>
                        </div>
                        <div class="slider__icons">
                            <a href="#" class="icons__link">
                                <img src="/static/icons/icon-slider/slider-icon.png" alt="" class="icons__img">
                            </a>
                            <a href="#" class="icons__link">
                                <img src="/static/icons/icon-slider/slider-icon2.png" alt="" class="icons__img">
                            </a>
                            <a href="#" class="icons__link">
                                <img src="/static/icons/icon-slider/slider-icon3.png" alt="" class="icons__img">
                            </a>
                        </div>
                        <div class="slider__content">
                            <p class="text">
                                Lorem ipsum dolor sit amet,
                                consectetur adipiscing elit. Vivamus
                                sed fermentum nibh, vel aliquet massa.
                                Etiam in magna id risus lacinia luctus
                                eget eu est.
                            </p>
                        </div>
                        <div class="slider__btn">
                            <a href="#" class="btn__link">
                                <p class="text">
                                    SHOP NOW
                                </p>
                            </a>
                        </div>

                    </div>
                </div>
            </div>

        </section>
    </main>

{% endblock %}
