{% set title = "Home" %}
{% set app_class = "app--home" %}
{% extends "layouts/_default.njk" %}

{% block content %}

<main class="main" role="main">
    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-6">test</div>
                <div class="col-6">test</div>

            </div>
        </div>
    </section>
</main>

{% endblock %}
