.text {

  &-right {
    text-align: right;
  }

  &-left {
    text-align: left;
  }

  &-center {
    text-align: center
  }

  &-uppercase {
    text-transform: uppercase;
  }
}

.font {

  &-accent {
    font-family: $font-accent;
  }

  &-light {
    font-weight: $light;
  }

  &-normal {
    font-weight: $regular;
  }

  &-medium {
    font-weight: $medium;
  }

  &-semi {
    font-weight: $semi;
  }

  &-bold {
    font-weight: $bold;
  }
}

.color {

  &-red {
    color: $red;
  }

  &-green {
    color: $green;
  }


  &-grey--dark {
    color: $grey__dark;
  }

  &--white {
    color: $white;
  }

  &-brown {
    color: $brown;
  }

  &-whitegrey {
    color: $white__grey;
  }

}

.link-underline {
  text-decoration: underline;
}

.text--nonprice {
  text-decoration: line-through;
  margin-right: 10px;
}