.icon {
  display: flex;
  flex-direction: row;

  &--cart {

  }

  &--search {

  }

  &--slider {
    width: 35px;
    height: 35px;
    border: 1px solid;
    border-radius: 50%;
    margin-right: 20px;
    position: relative;
  }

 &--slider:hover{
   background-color: $black;
  }

  &:last-of-type {
    margin-right: 0;
  }

  .icons__img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}





