.title {


  &-extrlg {
    font-size: 77px;
    letter-spacing: 2.32px;
    line-height: 70px;
  }

  &-lg {
    font-size: 19px;
    line-height: 24px;
    letter-spacing: 1.43px;
  }

  &-md {

  }

  &-sm {
    font-size: 12px;
    letter-spacing: 0.96px;
    line-height: 23px;
  }
}

.text {


  &-lg {
    font-size: 19px;
  }

  &-md {
    font-size: 18px;
    letter-spacing: 0.96px;
    line-height: 23px;
  }

  &-sm {
    font-size: 14px;
    letter-spacing: 0.96px;
    line-height: 23px;
  }

  &-exsm {
    font-size: 13px;
    line-height: 36px;
    letter-spacing: 0.65px;
  }

  &-versm {
    font-size: 11px;
    line-height: 14px;

  }
}