.title {
  font-weight: 600;

  &-xxl {
    font-size: 100px;
    letter-spacing: 2.32px;
    line-height: 108px;
    text-transform: uppercase;
  }


  &-xl { //h1
    font-size: 26px;

    letter-spacing: 1.43px;
  }

  &-l { //h2
    font-size: 19px;
    letter-spacing: 0.8px;
  }

  &-m { //h3
    font-size: 15px;
    letter-spacing: 1.43px;
  }

  &-s { //h4
    font-size: 12px;
    letter-spacing: 0.26px;

  }

}

.text {


  &-xl {
    font-size: 19px;

  }

  &-l {
    font-size: 18px;
    letter-spacing: 0.96px;

  }

  &-m {
    font-size: 14px;
    letter-spacing: 0.4px;
    line-height: 26px;
    font-weight: 400;

  }

  &-s {
    font-size: 13px;

  }

  &-xs {
    font-size: 11px;

  }
}