.title {


  &-extrlg {
    font-size: 77px;
    letter-spacing: 2.32px;
    line-height: 70px;
  }

  &-lg {

  }

  &-md {

  }

  &-sm {
    font-size: 12px;
    letter-spacing: 0.96px;
    line-height: 23px;
  }
}

.text {


  &-lg {
  }

  &-md {
    font-size: 18px;
    letter-spacing: 0.96px;
    line-height: 23px;
  }

  &-sm {
    font-size: 14px;
    letter-spacing: 0.96px;
    line-height: 23px;
  }
}