.featured {
  margin-top: 105px;
  margin-bottom: 80px;

  &__head {
    margin-bottom: 40px;
    text-align: center;
  }

  &__categories {
    margin-bottom: 50px;
  }

  &__btn {
    margin-top: 40px;
    text-align: center;
  }
}

.featured-card__content {

}

.featured-offer__title {
  margin-bottom: 8px;
  margin-top: 36px;
}

.featured-offer__brand {
  margin-bottom: 5px;
}


.featured-card:hover{
  transition: all 0.1s ease-in-out;
  filter: drop-shadow(0 0 6px #4b4b4b);
}

.featured-offer__brand {
  color: $grey__medium;
}

.section__featured {

  @include media-breakpoint-down(md) {

    .featured {
      margin-top: 30px;
      margin-bottom: 20px;
    }

    .featured__head {
      margin-bottom: 10px;
    }
    .featured__categories {
      margin-bottom: 10px;
    }
    .featured__btn {
      margin-top: 20px;
      margin-bottom: 10px;
    }

  }

  @include media-breakpoint-down(sm) {

   .featured-card__bg-img {
     width: 363px;
     height: 472px;

   }

  }
}
