.featured {
  margin-top: 90px;
  margin-bottom: 80px;

  &__head {
    margin-bottom: 55px;
    text-align: center;
  }

  &__categories {
    margin-bottom: 50px;
  }

  &__btn {
    margin-top: 50px;
    margin-bottom: 10px;
    text-align: center;
  }
}

.featured-offer__title {
  margin-bottom: 15px;
  margin-top: 30px;
}

.featured-offer__brand {
  margin-bottom: 12px;
}


.featured-offer__brand {
  color: $grey__medium;
}

.section__featured {


  @include media-breakpoint-down(md) {

    .featured {
      margin-top: 30px;
      margin-bottom: 20px;
    }

    .featured__head {
      margin-bottom: 10px;
    }
    .featured__categories {
      margin-bottom: 10px;
    }
    .featured__btn {
      margin-top: 20px;
      margin-bottom: 10px;
    }

  }
}
