.footer {
  margin-top: -140px;
  background-color: $grey__light-2;
}

.section__footer {
  padding-top: 169px;
  padding-bottom: 40px;


  .footer__nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px;
  }

  .information__item {
    margin-bottom: 5px;
  }

  .footer__copy {
    text-align: center;
    color: $grey__white;
    margin-bottom: 45px;

  }

  .footer__logo {
    text-align: center;

  }
}

.information__title {
  color: $grey__dark;
  padding: 0 10px;
  margin-bottom: 31px;
}

.information__item {
  color: $grey__white;

}





.section__footer {

  @include media-breakpoint-down(lg) {

    .footer__nav {
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;

    }
    .nav__header {
      flex-basis: 30%;
    }
  }

  @include media-breakpoint-down(md) {

    .information__list {
      margin-bottom: 30px;
    }

    .nav__header {
      flex-basis: 50%;
      text-align: center;
    }
  }

  @include media-breakpoint-down(sm) {

    .information__list {
      margin-bottom: 30px;
    }

    .nav__header {
      flex-basis: 100%;

    }
  }
}