.offers {
  margin-top: 60px;

  &__categories {
    margin-bottom: 55px;
  }

  &__cards {
    margin-bottom: 30px;
  }
}

.banner__title {
  margin-bottom: 20px;
}

.banner__text {
  margin-bottom: 30px;
}

.offers__new {
  position: absolute;
  top: 20px;
  right: 20px;
}

.offers__item + .offers__item {
  margin-top: 20px;
}

.offers__new-bottom {
  top: 10px;
  right: 10px;
}


.section__offers {

  @include media-breakpoint-down(lg) {

    .banner__content--right {
      margin: auto;
    }
    .banner__bg {
      background-color: $blue__light;
    }
    .banner__bg-img {
      display: none;
    }
    .banner__content {
      width: 100%;
      margin: 10px 20px;
    }
  }

  @include media-breakpoint-down(md) {

    .offers__item {
      margin-bottom: 20px;
    }

    .banner__title {
      margin-bottom: 10px;
    }

    .banner__text {
      margin-bottom: 10px;
    }
  }

}