.offers {
margin-top: 60px;
}

.offers__new {
  position: absolute;
  top: 20px;
  right: 20px;
}

.offers__item + .offers__item {
  margin-top: 20px;
}

.offers__new-bottom {
  top: 10px;
  right: 10px;
}

.section__categories {

  @include media-breakpoint-down(md) {

    .categories__list {
      margin: 25px 0;
    }

    .categories__item {
      margin: 5px;
    }
    .text-lg {
      font-size: 16px;
    }
  }
}