.card-offer__content--md {
  position: absolute;
  top: 40px;
  left: 70px;
}

.card-offer__content--xxl {
  position: absolute;
  top: 140px;
  left: 40px;
}

.card-offer__content--lg {
  position: absolute;
  top: 70px;
  left: 40px;
}

.card-offer__content--xl {
  position: absolute;
  top: 180px;
  left: 70px;
}

.card-offer__title {
  margin-bottom: 20px;
  padding-left: 10px;
}

.offers__btn--center {
  position: absolute;
  top: 240px;
  left: 40px;
}

.offers__btn--right {
  position: absolute;
  top: 180px;
  left: 40px;
}

.offers__btn-new--center {
  position: absolute;
  top: 15px;
  right: 15px;
}

.offers__btn-new--right {
  position: absolute;
  top: 15px;
  right: 15px;
}