
.products {
  margin: 90px 0;
}

.products__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 40px 0;
}

.products__item {
  flex-basis: 31.5%;
  position: relative;
}

.card-products__btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 40px;
}

.section__products {

  @include media-breakpoint-down(lg) {

    .products__item {
      flex-wrap: wrap;
      flex-basis: 49%;
      margin: 10px auto;
    }

    .card-products__btn {
      left: 40%;
    }
  }

  @include media-breakpoint-down(md) {

    .products__wrapper {
      flex-direction: column;


      .products__item {
        flex-basis: 100%;
      }
    }

    .card-products__btn {
      left: 50%;
    }


  }
}



























