
.products {
  margin: 90px 0;
}

.products__header {
  margin-bottom: 30px;
}

.products__text {
  margin-bottom: 30px;
}

.card-products__btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 40px;
}

.section__products {

  @include media-breakpoint-down(lg) {

    .products__header {
      margin-bottom: 20px;
    }

    .card-products {
      margin-bottom: 10px;
    }

  }

  @include media-breakpoint-down(md) {

    .products__header {
      margin-bottom: 20px;
    }

  .card-products {
    margin-bottom: 10px;
  }

  }
}



























