
.products {
  margin: 90px 0;
}

.products__title {
  margin-bottom: 30px;
}

.products__text {
  margin-bottom: 30px;
}


.featured {
  margin: 90px 0;
}

.featured__block {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.featured__element {
  flex-basis: 23%;

  .feature__img {
    margin: 0 auto 20px;
  }

  .featured__title {
    margin-bottom: 10px;
  }

  .featured__brand {
    margin-bottom: 10px;
  }

}

.featured__btn {
  width: 175px;
  margin: 50px auto;
}

.section__featured {

  @include media-breakpoint-down(xl) {

    .featured {
      width: calc(100% - 100px);
      margin: 90px auto;
    }

  }
}

.section__featured {

  @include media-breakpoint-down(md) {

    .featured {
      margin: 25px auto;
    }

  }
}

.section__banner--left {

  @include media-breakpoint-down(md) {

    .banner--left {
      background: #daddd9;
    }

    .banner__information {
      flex-basis: 100%;
      margin: 0;
    }

  }
}

.blog {
  margin: 90px 0 -140px;

  &__block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 50px;

    .blog__element {
      flex-basis: 48.8%;

      .blog__info {
        width: calc(100% - 70px);
        margin: 0 auto;
        transform: translateY(-50%);
        background: $white;
        padding: 15px 0;
      }
    }
  }
}

.section__blog {

  @include media-breakpoint-down(md) {

    .blog {
      margin-top: 25px;

      .blog__info {
        width: calc(100% - 20px);
      }
    }

  }
}

.section__blog {

  @include media-breakpoint-down(sm) {

    .blog__block {
      margin-top: 25px;
    }

    .blog__element {
      flex-basis: 100%;
    }

  }
}

.section__links {

  background: #f8f8f8;
  padding: 240px 0 90px;


  .links {

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &__element {

      flex-basis: 19%;

      .links__title {
        margin-bottom: 30px;
      }
    }


  }

  .links__item--contact {
    margin-bottom: 10px;

  }

}

.section__links {

  @include media-breakpoint-down(md) {

    .links {


      .links__element {
        flex-basis: 33%;
        margin: 10px 0;
      }
    }

  }
}

.section__links {

  @include media-breakpoint-down(sm) {

    .links {


      .links__element {
        flex-basis: 100%;
        text-align: center;
      }
    }

  }
}





