.section__slider {
  background: linear-gradient(90deg, #ccccd0, #c4c5ca);

}

.slider__preview {
  padding-left: 62px;
}

.test {

}

.slider {

  &__item {
    margin-top: 195px;
    margin-left: -21px;


    .slider__title {
      margin-bottom: 13px;
      padding-right: 10px;
    }

    .slider__type {
      margin-bottom: 32px;
    }

    .slider__icons {
      margin-bottom: 60px;
    }

    .slider__content {
      font-family: $font-accent;
      color: $grey__dark;
      margin-bottom: 46px;
    }
  }
}


.section__slider {

  @include media-breakpoint-down(lg) {

    .slider__item {
      margin-top: 75px;
    }

    .title-xxl {
      font-size: 50px;
      letter-spacing: 5px;
      line-height: 75px;
    }
  }

  @include media-breakpoint-down(md) {
    .slider {
      &__preview {
        display: none;
      }

      .slider__item {
        margin: 15px 0;
        text-align: center;

        .slider__title {
          margin-bottom: 5px;
        }

        .slider__icons {
          justify-content: center;
          margin-bottom: 5px;
        }

        .slider__content {
          margin-bottom: 5px;
        }
      }

      .slider__type {
        margin: 10px 0;
      }

      .title-xxl {
        font-size: 40px;
        line-height: 50px;
        letter-spacing: 1px;
        text-align: center;
      }
    }
  }

  @include media-breakpoint-down(sm) {

    .slider__btn {
      margin-bottom: 5px;
    }

  }
}


