<footer class="footer section__footer" role="contentinfo">
    <div class="container">
            <div class="footer__nav">
                <div class="nav__header">
                    <h3 class="information__title">
                            Information
                    </h3>
                    <ul class="information__list">
                        <li class="information__item">
                            <a href="#" class="text text-m">
                                The brand
                            </a>
                        </li>
                        <li class="information__item">
                            <a href="#" class="text text-m">
                                Local stores
                            </a>
                        </li>
                        <li class="information__item">
                            <a href="#" class="text text-m">
                                Customer service
                            </a>
                        </li>
                        <li class="information__item">
                            <a href="#" class="text text-m">
                                Privacy & cookies
                            </a>
                        </li>
                        <li class="information__item">
                            <a href="#" class="text text-m">
                                Site map
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="nav__header">
                    <h3 class="information__title">
                            My profile
                    </h3>
                    <ul class="information__list">
                        <li class="information__item">
                            <a href="#" class="text text-m">
                                Getting Started
                            </a>
                        </li>
                        <li class="information__item">
                            <a href="#" class="text text-m">
                                FAQs
                            </a>
                        </li>
                        <li class="information__item">
                            <a href="#" class="text text-m">
                                Buying Guide
                            </a>
                        </li>
                        <li class="information__item">
                            <a href="#" class="text text-m">
                                Order Returns
                            </a>
                        </li>
                        <li class="information__item">
                            <a href="#" class="text text-m">
                                Affiliate Program
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="nav__header">
                    <h3 class="information__title">
                            Your account
                    </h3>
                    <ul class="information__list">
                        <li class="information__item">
                            <a href="#" class="text text-m">
                                Shipping & returns
                            </a>
                        </li>
                        <li class="information__item">
                            <a href="#" class="text text-m">
                                Secure shopping
                            </a>
                        </li>
                        <li class="information__item">
                            <a href="#" class="text text-m">
                                Testimonials
                            </a>
                        </li>
                        <li class="information__item">
                            <a href="#" class="text text-m">
                                Award winning
                            </a>
                        </li>
                        <li class="information__item">
                            <a href="#" class="text text-m">
                                Ethical trading
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="nav__header">
                    <h3 class="information__title">
                            Lookbook
                    </h3>
                    <ul class="information__list">
                        <li class="information__item">
                            <a href="#" class="text text-m">
                                Getting Started
                            </a>
                        </li>
                        <li class="information__item">
                            <a href="#" class="text text-m">
                                FAQs
                            </a>
                        </li>
                        <li class="information__item">
                            <a href="#" class="text text-m">
                                Buying Guide
                            </a>
                        </li>
                        <li class="information__item">
                            <a href="#" class="text text-m">
                                Order Returns
                            </a>
                        </li>
                        <li class="information__item">
                            <a href="#" class="text text-m">
                                Affiliate Program
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="nav__header">
                    <h3 class="information__title">
                            Contact details
                    </h3>
                    <ul class="information__list">
                        <li class="information__item">
                            <a href="tel:+0123-456-789" target="_blank" class="text text-m">
                            <span class="font-bold">
                            Telephone
                            </span>
                                : 0123-456-789
                            </a>
                        </li>
                        <li class="information__item">
                            <a href="mailto:free@psdfreebies.com" target="_blank"
                               class="text text-m">
                            <span class="font-bold">
                            Email
                            </span>
                                : free@psdfreebies.com
                            </a>
                        </li>
                        <li class="information__item">
                            <a href="#" class="text text-m">
                                Customer service
                            </a>
                        </li>
                        <li class="information__item">
                            <a href="#" class="text text-m">
                            <span class="font-bold">
                            Head Office
                            </span>
                                : 245 Yellow House,<br>
                                Main Street, London. 456789
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footer__copy">
                <p class="text text-m">
                    &copy Copyright e-commerce 1.0. 2022 Designed by Psdfreebies.com
                </p>
            </div>
            <div class="footer__logo">
                <img src="/static/img/header/logo.png" class="footer__img" alt="">
            </div>
    </div>
</footer>
