<header class="header" role="banner">
        <div class="header__main">
            <div class="btn__wrapper">
                <div class="header__left">
                    <a href="#" class="header__link">
                        <img src="/static/img/header/logo.png" alt="" class="header__img">
                    </a>
                </div>
                <div class="header__right">
                    <div class="header__menu">
                        <ul class="header__menu ">
                            <li class="menu__item">
                                <a href="#" class="menu__link">
                                    <p class="menu__text text">

                                    </p>
                                </a>
                            </li>
                            <li class="menu__item">
                                <a href="#" class="menu__link">
                                    <p class="menu__text text">

                                    </p>
                                </a>
                            </li>
                            <li class="menu__item">
                                <a href="#" class="menu__link">
                                    <p class="menu__text text">

                                    </p>
                                </a>
                            </li>
                            <li class="menu__item">
                                <a href="#" class="menu__link">
                                    <p class="menu__text text">

                                    </p>
                                </a>
                            </li>
                            <li class="menu__item">
                                <a href="#" class="menu__link">
                                    <p class="menu__text text">

                                    </p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
</header>